.App {
  text-align: left;
  background-color: rgb(156, 214, 214);
  min-height: 100vh
}
#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  /* White background with 50% opacity (0.5 alpha value) */
  background-color: rgb(190, 57, 57); 
  background-blend-mode: multiply; 
  /* Alternative using HSLA */
  /* background-color: hsla(0, 0%, 100%, 0.5); */

  padding: 10px;
  margin: 5px;
}
