@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  margin: 0;
 font-family: "Chewy", system-ui !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Chewy", system-ui;
}
